.header a{
    text-decoration: none;
    margin-right: 10px;
    
}
.header a:hover{
    background-color: aquamarine;
  
}
.header{
    margin-top: 20px;
    font-size: 20px;
}
.active {
   font-size: 30px;
   text-decoration: overline lime;
}
/* .pending{
    background-color: yellow;
} */